.info {
  width: 100%;
  padding: 40px;
  height: 440px;
  text-align: center;
  background: #F2F2F2;
  .info-left {
      width: 70%;
      height: 400px;
      margin: auto;
      padding: 20px;
    svg {
      width: 100px;
      height: 100px;
      margin: auto;
      color: #D1C286;
    }
    p{
      color: #828282;
    }
    button {
      width: 150px;
      height: 30px;
      background: none;
      color: #D1C286;
      border: 1px solid #D1C286;
      margin-top: 20px;
      &:hover{
        background: #D1C286;
        color: #F2F2F2;
      }
    }
  }
  .info-center {
    width: 70%;
    height: 400px;
    margin: auto;
    padding: 20px;
  svg {
    width: 100px;
    height: 100px;
    margin: auto;
    color: #D1C286;
  }
  p{
    color: #828282;
  }
  button {
    width: 150px;
    height: 30px;
    background: none;
    color: #D1C286;
    border: 1px solid #D1C286;
    margin-top: 20px;
    &:hover{
      background: #D1C286;
        color: #F2F2F2;
    }
  }
}
.info-right {
    width: 70%;
    height: 400px;
    margin: auto;
    padding: 20px;
  svg {
    width: 100px;
    height: 100px;
    margin: auto;
    color: #D1C286;
  }
  p{
    color: #828282;
  }
  button {
    width: 150px;
    height: 30px;
    background: none;
    color: #D1C286;
    border: 1px solid #D1C286;
    margin-top: 20px;
    &:hover{
      background: #D1C286;
        color: #F2F2F2;
    }
  }
}
}
