.content {
  text-align: center;
  .content-child {
    width: 50%;
    margin: auto;
  }
}
.shop {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  .shop-left {
    width: 100%;
    text-align: center;
    padding: 30px;
    .shop-left-img {
      width: 100%;
      height: 350px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .shop-left-img-hover {
        position: absolute;
        left: 0;
        top: 0;
        background: black;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        visibility: hidden;
        div {
            margin-top: 50%;
            transform: translate(0,-50%);
          .fa-shopping-cart {
            color: #D1C286;
            width: 30px;
            height: 25px;
            margin-right: 2px;
          }
          .fa-eye {
            color: #D1C286;
            width: 30px;
            height: 25px;
            margin-left: 2px;
          }
        }
      }
      
    }
    &:hover .shop-left-img-hover {
        transition: 1s;
        opacity: 0.4;
        visibility: visible;
        box-shadow: 5px 5px 5px rgb(145, 142, 142),
                     -5px 5px 5px rgb(145, 142, 142);
      }
    &:hover h3{
        transition: 2s;
        color: #D1C286;
    }
  }
  .shop-center {
    width: 100%;
    text-align: center;
    padding: 30px;
    .shop-center-img {
      width: 100%;
      height: 350px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .shop-center-img-hover {
        position: absolute;
        left: 0;
        top: 0;
        background: black;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        visibility: hidden;
        div {
            margin-top: 50%;
            transform: translate(0,-50%);
          .fa-shopping-cart {
            color: #D1C286;
            width: 30px;
            height: 25px;
            margin-right: 2px;
          }
          .fa-eye {
            color: #D1C286;
            width: 30px;
            height: 25px;
            margin-left: 2px;
          }
        }
      }
    }
    &:hover .shop-center-img-hover {
        transition: 1s;
        opacity: 0.4;
        visibility: visible;
        box-shadow: 5px 5px 5px rgb(145, 142, 142),
                     -5px 5px 5px rgb(145, 142, 142);
      }
    &:hover h3{
        transition: 2s;
        color: #D1C286;
    }
  }
  .shop-right {
    width: 100%;
    text-align: center;
    padding: 30px;
    .shop-right-img {
      width: 100%;
      height: 350px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .shop-right-img-hover {
        position: absolute;
        left: 0;
        top: 0;
        background: black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        visibility: hidden;
        div {
            margin-top: 50%;
            transform: translate(0,-50%);
          .fa-shopping-cart {
            color: #D1C286;
            width: 30px;
            height: 25px;
            margin-right: 2px;
          }
          .fa-eye {
            color: #D1C286;
            width: 30px;
            height: 25px;
            margin-left: 2px;
          }
        }
      }
    }
    &:hover .shop-right-img-hover {
        transition: 1s;
        opacity: 0.4;
        visibility: visible;
        box-shadow: 5px 5px 5px rgb(145, 142, 142),
                     -5px 5px 5px rgb(145, 142, 142);
      }
    &:hover h3{
        transition: 2s;
        color: #D1C286;
    }
  }
  
}
