body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif !important;
}
.navbar{
    background: rgba(0, 0, 0, 0.8);
}
.trangchu{
    font-weight: bolder;
    color: tomato !important;
}
.trangchu i{
    color: white;
}
.trangchu:hover{
        color: rgb(248, 167, 167) !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}


/* silidenav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1111111;
    top: 0;
    left: 0;
    background-color: rgb(24, 23, 23);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #b3b2b2;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: -22px;
    right: 5px;
    font-size: 50px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.list-name-1:hover, .list-name-2:hover, .list-name-3:hover{
    cursor: pointer;
    color: aqua;
}
 .menu-list-buy, .menu-list-lease, .menu-list-project, .menu-list-new, .menu-list-help{
     display: none;
 }


.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
.button-login{
    background-color: rgb(76, 246, 209);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
button:hover {
    opacity: 0.8;
}
  
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius: 10px;
}
  
 
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
  
img.avatar {
    width: 20%;
    border-radius: 50%;
}
  
.container {
    padding: 16px;
}
  
span.psw {
    float: right;
    padding-top: 16px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%;
}
  

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
} 
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
  }
.animate {
    animation: animatezoom 0.6s
} 
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.img-box{
    width:300px ;
}
@media screen and (max-width:992px){
    .img-box{
        width: 200px;
    }
    .nhadat{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 768px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .navbar{
        background: rgb(19, 19, 19);
    }
    .modal-content{
        width: 80%;
    }
    .img-box{
        width: 160px;
    }
}
@media screen and(max-width:567px){

}
.carousel-indicators li{
    height: 5px;
}
.imgfluid{
    width: 100%;
    opacity: 1;
}

.box2{
    width:100%;
    height: 100%;
    background:none;
    position: absolute;
    left: 0;
    top: 0;

}
.box2 div{
    position: sticky;
    top:60%;
    background-color: rgba(241, 240, 241, 0.6);
    font-weight: bolder;
    padding: 10px 5px;
}
.box2 div p{
    color: rgb(32, 8, 8);
    text-shadow: none;
}
.box2 div p a:hover{
    text-decoration: underline;
}
.box{
    width:100%;
    height: 100%;
    background: rgba(81, 81, 82, 0.3);
    opacity: 0;
    position: absolute;
    left: 0%;
    top: 0;
    transition:all .3s ease;
  
}
.box button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.box:hover{
    opacity: 1;
}
.box:hover > .imgfluid{
    overflow: hidden;
}
.img-box{
    position: relative;
}

.nhadat-img{
    width: 100%;
}
.img-badge{
    position: absolute;
    left: 20px;
    top:10px;
    padding: 8px 14px;
}
img:hover{
    transform: scale(1.01);
}
.tim{
    color: rgb(255, 27, 27);
    position:absolute ;
    top: 5px;
    right: 15px;
}
.tim:hover , .img-badge:hover{
    transform: scale(1.1);
    opacity: .9;
}
.list-name-1:hover, .list-name-2:hover, .list-name-3:hover{
    cursor: pointer;
    color: aqua;
}
 .menu-list-buy, .menu-list-lease, .menu-list-project, .menu-list-new, .menu-list-help{
     display: none;
 }
.label{
    font-size: 10px !important;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    background: url("./phpThumb_generated_thumbnail\ \(1\).jpeg") left top no-repeat;
    margin:-2px 5px 0 0;
    cursor:pointer;
    vertical-align:middle;
}
input[type="radio"]:checked + label span {
    background:url("./phpThumb_generated_thumbnail.jpeg") -19px top no-repeat;
}
#slide-btn:hover{
    cursor: pointer;
    background: rgb(77, 170, 246);
    color: white !important;
}